{% load static %}
<div class="card mb-3 mt-3 p-3">
  <div class="row g-0 mt-1 ms-1">
    <div class="col-md-4">
      <a href="{% url 'blog-details' blog.slug %}">
        <img src="{{blog.image.url}}" class="img-fluid rounded-start" alt="{{blog.title}}">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="{% url 'blog-details' blog.slug %}">
          <h5 class="card-title">{{blog.title}}</h5>
        </a>
        <p class="card-text">
          <div>
            <a href="{% url 'blog-details' blog.slug %}">{{blog.snippet}}</a>
          </div>
        </p>
        <p class="card-text">
          <small class="text-muted">Sonuncu dəfə <b>{{blog.lastmodified.isoformat}}</b> tarixində yenilənib</small><br>
          <small class="text-muted">Blog <b>{{blog.borndate.isoformat}}</b> tarixində yaradıldı</small>
        </p>
      </div>
    </div>
  </div>
</div>