<footer class="footer1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mailme">
                    <p>Əlaqə və qurucu haqqında</p>
                    <address>
                        Qurucu: <strong>Sahib Fərhadov</strong><br>
                        E-mail: <strong>sahibcebrayilli@gmail.com</strong>
                    </address>
                </div>
            </div>
            <div class="col">
                <a class="link-primary" href="{% url 'home' %}">Əsas səhifə</a>
            </div>
            <div class="col">3</div>
        </div>
    </div>
</footer>