{% extends 'base.html' %}

{%block content%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-2" style="">
				<div class="list-group">
					<a class="list-group-item list-group-item-action active" href="#">Hesab</a>
					<a class="list-group-item list-group-item-action" href="#">Məqalələrim</a>
					<a class="list-group-item list-group-item-action" href="#">Hesab</a>
					<a class="list-group-item list-group-item-action" href="#">Hesab</a>
					<a class="list-group-item list-group-item-action" href="#">Hesab</a>
				</div>
			</div>
			<div class="col" style=""></div>
		</div>
	</div>
{%endblock%}
